Usted debe utilizar el dataset llamado: "Building_Permits"

In [1]:
import pandas as pd
import numpy as np
from dataclasses import dataclass
import sqlalchemy

# **LIMPIEZA DEL DATASET-ETL**

##**Exatracción**

In [2]:
DataSet = pd.read_csv("Building_Permits.csv")
DataSet.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (22,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

##**Transformación**

Limpieza de datos

###Descartar datos faltantes

In [3]:
DataSet.dropna().isnull()
DataSet.head(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [4]:
'''se descarta los falores faltantes de cada fila '''

'se descarta los falores faltantes de cada fila '

# Llenar datos faltantes

In [5]:
DataSet.fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,0,Ellis,St,...,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,0,Geary,St,...,3.0,constr type 3,0.0,0,0,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,0,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,0,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,0,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),0,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,0,Market,St,...,3.0,constr type 3,0.0,0,0,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,0,Montgomery,St,...,0.0,0,0.0,0,0,0.0,0,0.0,0,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,0,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),0,0.0,0,0.0,0,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,0,Indiana,St,...,0.0,0,0.0,0,0,0.0,0,0.0,0,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,0,Sutter,St,...,0.0,0,0.0,0,0,0.0,0,0.0,0,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,0,Pacific,Av,...,0.0,0,0.0,0,0,0.0,0,0.0,0,1489796283803

# Identificación de registros duplicados

In [6]:
DataSet.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [7]:
DataSet.duplicated().sum()

0

# Eliminación de datos duplicados

In [8]:
DataSet.drop_duplicates()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803

In [9]:
''''Se eliminan los datos duplicados del dataFrame'''

"'Se eliminan los datos duplicados del dataFrame"

# Eliminar espacios en blanco del texto

In [10]:
DataSet.replace(' ','')
DataSet.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,sign - erect,05/06/2015,0326,023,140,NaN,Ellis,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,sign - erect,04/19/2016,0306,007,440,NaN,Geary,St,...,3.0,constr type 3,NaN,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,additions alterations or repairs,05/27/2016,0595,203,1647,NaN,Pacific,Av,...,1.0,constr type 1,1.0,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,otc alterations permit,11/07/2016,0156,011,1230,NaN,Pacific,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,demolitions,11/28/2016,0342,001,950,NaN,Market,St,...,3.0,constr type 3,NaN,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

# Cambio de "case" de cadena

Es decir, no puede existir en una columna datos con mayúsculas y minúscula de manera simultánea (mezclado).

In [11]:
DataSet['Street Name'] = DataSet['Street Name'].str.upper()
DataSet['Permit Type Definition'] = DataSet['Permit Type Definition'].str.upper()
DataSet['Description'] = DataSet['Description'].str.upper()
DataSet['Existing Construction Type Description'] = DataSet['Existing Construction Type Description'].str.upper()
DataSet['Proposed Construction Type Description'] = DataSet['Proposed Construction Type Description'].str.upper()
DataSet['Neighborhoods - Analysis Boundaries'] = DataSet['Neighborhoods - Analysis Boundaries'].str.upper()
DataSet['Current Status'] = DataSet['Current Status'].str.upper()
DataSet['Existing Use'] = DataSet['Existing Use'].str.upper()
DataSet['Proposed Use'] = DataSet['Proposed Use'].str.upper()

DataSet.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,SIGN - ERECT,05/06/2015,0326,023,140,NaN,ELLIS,St,...,3.0,CONSTR TYPE 3,NaN,NaN,NaN,3.0,TENDERLOIN,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,SIGN - ERECT,04/19/2016,0306,007,440,NaN,GEARY,St,...,3.0,CONSTR TYPE 3,NaN,NaN,NaN,3.0,TENDERLOIN,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,ADDITIONS ALTERATIONS OR REPAIRS,05/27/2016,0595,203,1647,NaN,PACIFIC,Av,...,1.0,CONSTR TYPE 1,1.0,CONSTR TYPE 1,NaN,3.0,RUSSIAN HILL,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,OTC ALTERATIONS PERMIT,11/07/2016,0156,011,1230,NaN,PACIFIC,Av,...,5.0,WOOD FRAME (5),5.0,WOOD FRAME (5),NaN,3.0,NOB HILL,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,DEMOLITIONS,11/28/2016,0342,001,950,NaN,MARKET,St,...,3.0,CONSTR TYPE 3,NaN,NaN,NaN,6.0,TENDERLOIN,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

Llenar datos competos de Fire Only Permit

In [12]:
DataSet['Fire Only Permit'] = DataSet['Fire Only Permit'].fillna('N')
DataSet['Unit'] = DataSet['Unit'].fillna('0')
print(DataSet['Fire Only Permit'])

0         N
1         N
2         N
3         N
4         N
         ..
198895    N
198896    Y
198897    N
198898    N
198899    N
Name: Fire Only Permit, Length: 198900, dtype: object

Eliminación de Columnas

In [13]:
DataSet = DataSet.drop(columns=['Street Number Suffix'])
DataSet = DataSet.drop(columns=['Unit Suffix'])
DataSet = DataSet.drop(columns=['Structural Notification'])
DataSet = DataSet.drop(columns=['Voluntary Soft-Story Retrofit'])
DataSet = DataSet.drop(columns=['Site Permit'])
DataSet = DataSet.drop(columns=['TIDF Compliance'])
DataSet.head()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Street Suffix,Unit,...,Plansets,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
0,201505065519,4,SIGN - ERECT,05/06/2015,0326,023,140,ELLIS,St,0,...,2.0,3.0,CONSTR TYPE 3,NaN,NaN,3.0,TENDERLOIN,94102.0,"(37.785719256680785, -122.40852313194863)",1380611233945
1,201604195146,4,SIGN - ERECT,04/19/2016,0306,007,440,GEARY,St,0.0,...,2.0,3.0,CONSTR TYPE 3,NaN,NaN,3.0,TENDERLOIN,94102.0,"(37.78733980600732, -122.41063199757738)",1420164406718
2,201605278609,3,ADDITIONS ALTERATIONS OR REPAIRS,05/27/2016,0595,203,1647,PACIFIC,Av,0,...,2.0,1.0,CONSTR TYPE 1,1.0,CONSTR TYPE 1,3.0,RUSSIAN HILL,94109.0,"(37.7946573324287, -122.42232562979227)",1424856504716
3,201611072166,8,OTC ALTERATIONS PERMIT,11/07/2016,0156,011,1230,PACIFIC,Av,0.0,...,2.0,5.0,WOOD FRAME (5),5.0,WOOD FRAME (5),3.0,NOB HILL,94109.0,"(37.79595867909168, -122.41557405519474)",1443574295566
4,201611283529,6,DEMOLITIONS,11/28/2016,0342,001,950,MARKET,St,0,...,2.0,3.0,CONSTR TYPE 3,NaN,NaN,6.0,TENDERLOIN,94102.0,"(37.78315261897309, -122.40950883997789)",144548169992

In [14]:
DataSet.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Name                                    0
Street Suffix                               2768
Unit                                           0
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Fire Only Permit                               0
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

## **Extracción**

DataFrame de tipo

In [15]:
df = pd.DataFrame(DataSet)

df_tipo = df[['Proposed Construction Type','Existing Construction Type','Existing Construction Type Description','Proposed Construction Type Description']]
df_tipo.columns = ['Proposed_Construction_Type','Existing_Construction_Type','Existing_Construction_Type_Description','Proposed_Construction_Type_Description']

df_tipo.head()

,Proposed_Construction_Type,Existing_Construction_Type,Existing_Construction_Type_Description,Proposed_Construction_Type_Description
0,NaN,3.0,CONSTR TYPE 3,NaN
1,NaN,3.0,CONSTR TYPE 3,NaN
2,1.0,1.0,CONSTR TYPE 1,CONSTR TYPE 1
3,5.0,5.0,WOOD FRAME (5),WOOD FRAME (5)
4,NaN,3.0,CONSTR TYPE 3,NaN

DataFrame de regitros

In [16]:
df = pd.DataFrame(DataSet)

df_registro = df[['Zipcode','Location']]
df_registro['id_Permit'] = df_registro.index
df_registro['id_Tipo'] = df_registro.index
df_registro.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Zipcode                                   Location  id_Permit  id_Tipo
0  94102.0  (37.785719256680785, -122.40852313194863)          0        0
1  94102.0   (37.78733980600732, -122.41063199757738)          1        1
2  94109.0    (37.7946573324287, -122.42232562979227)          2        2
3  94109.0   (37.79595867909168, -122.41557405519474)          3        3
4  94102.0   (37.78315261897309, -122.40950883997789)          4        4

DataFrame de Permisos

In [17]:
df = pd.DataFrame(DataSet)

df_permiso = df[['Permit Number','Permit Type','Permit Type Definition','Permit Creation Date']]
df_permiso.columns = ['Permit_Number','Permit_Type','Permit_Type_Definition','Permit_Creation_Date']
df_permiso['id_street'] = df_permiso.index

df_permiso.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Permit_Number,Permit_Type,Permit_Type_Definition,Permit_Creation_Date,id_street
0,201505065519,4,SIGN - ERECT,05/06/2015,0
1,201604195146,4,SIGN - ERECT,04/19/2016,1
2,201605278609,3,ADDITIONS ALTERATIONS OR REPAIRS,05/27/2016,2
3,201611072166,8,OTC ALTERATIONS PERMIT,11/07/2016,3
4,201611283529,6,DEMOLITIONS,11/28/2016,4

DataFrame de calle

In [18]:
df = pd.DataFrame(DataSet)

df_calle = df[['Lot','Street Number','Street Name','First Construction Document Date','Description']]
df_calle.columns = ['Lot','Street_Number','Street_Name','First_Construction_Document_Date','Description']

df_calle.head()

,Lot,Street_Number,Street_Name,First_Construction_Document_Date,Description
0,023,140,ELLIS,11/09/2015,"GROUND FL FACADE: TO ERECT ILLUMINATED, ELECTR..."
1,007,440,GEARY,08/03/2017,REMOVE (E) AWNING AND ASSOCIATED SIGNS.
2,203,1647,PACIFIC,NaN,INSTALLATION OF SEPARATING WALL
3,011,1230,PACIFIC,07/18/2017,REPAIR DRYROT & STUCCO AT FRONT OF BLDG.
4,001,950,MARKET,11/20/2017,DEMOLISH RETAIL/OFFICE/COMMERCIAL 3-STORY BUIL...

DataFrame de Obra

In [19]:
df = pd.DataFrame(DataSet)
df_obra = df[['Block','Neighborhoods - Analysis Boundaries','Filed Date','Supervisor District','Record ID']]
df_obra.columns = ['Block','Neighborhoods_Analysis_Boundaries','Filed','Supervisor_District','Id_record']
df_obra['id_Estado'] = df_obra.index

df_obra.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Block,Neighborhoods_Analysis_Boundaries,Filed,Supervisor_District,Id_record,id_Estado
0,0326,TENDERLOIN,05/06/2015,3.0,1380611233945,0
1,0306,TENDERLOIN,04/19/2016,3.0,1420164406718,1
2,0595,RUSSIAN HILL,05/27/2016,3.0,1424856504716,2
3,0156,NOB HILL,11/07/2016,3.0,1443574295566,3
4,0342,TENDERLOIN,11/28/2016,6.0,144548169992,4

DataFrame de estado

In [20]:
df = pd.DataFrame(DataSet)
df_estado = df[['Street Suffix','Current Status','Current Status Date','Issued Date','Completed Date']]
df_estado.columns = ['Street_Suffix','Current_Status','Current_Status_Date','Issued_Date','Completed_Date']
df_estado['id_Estado'] = df_obra.index

df_estado.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Street_Suffix,Current_Status,Current_Status_Date,Issued_Date,Completed_Date,id_Estado
0,St,EXPIRED,12/21/2017,11/09/2015,NaN,0
1,St,ISSUED,08/03/2017,08/03/2017,NaN,1
2,Av,WITHDRAWN,09/26/2017,NaN,NaN,2
3,Av,COMPLETE,07/24/2017,07/18/2017,07/24/2017,3
4,St,ISSUED,12/01/2017,12/01/2017,NaN,4

DataFrame de disenio

In [33]:
df = pd.DataFrame(DataSet)
df_disenio = df[['Unit','Number of Existing Stories','Fire Only Permit','Permit Expiration Date']]
df_disenio.columns = ['Unit','Number_of_Existing_Stories','Fire_Only_Permit','Permit_Expiration_Date']
df_disenio['id_costo'] = df_disenio.index
df_disenio['id_Obra'] = df_disenio.index

df_disenio.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Unit,Number_of_Existing_Stories,Fire_Only_Permit,Permit_Expiration_Date,id_costo,id_Obra
0,0,6.0,N,11/03/2016,0,0
1,0.0,7.0,N,12/03/2017,1,1
2,0,6.0,N,NaN,2,2
3,0.0,2.0,N,07/13/2018,3,3
4,0,3.0,N,12/01/2018,4,4

DataFrame de propuesta

In [22]:
df = pd.DataFrame(DataSet)
df_propuesta = df[['Plansets','Existing Use','Existing Units']]
df_propuesta.columns = ['Plansets','Existing_Use','Existing_Units']


df_disenio.head()

,Unit,Number_of_Existing_Stories,Fire Only Permit,Permit Expiration Date,id_costo,id_Obra
0,0,6.0,N,11/03/2016,0,0
1,0.0,7.0,N,12/03/2017,1,1
2,0,6.0,N,NaN,2,2
3,0.0,2.0,N,07/13/2018,3,3
4,0,3.0,N,12/01/2018,4,4

DataFrame de costo

In [23]:
df = pd.DataFrame(DataSet)
df_Costo = df[['Estimated Cost','Revised Cost']]
df_Costo.columns = ['Estimated_Cost','Revised_Cost']
df_Costo['id_propuesta'] = df_Costo.index


df_Costo.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Estimated_Cost  Revised_Cost  id_propuesta
0          4000.0        4000.0             0
1             1.0         500.0             1
2         20000.0           NaN             2
3          2000.0        2000.0             3
4        100000.0      100000.0             4

**Carga de datos**

Conexión

In [24]:
path2 = "sqlite:///DB_transaccional.db"
motor = sqlalchemy.create_engine(path2)
conectar = motor.connect()

Función de carga

In [25]:
def cargar_datos_a_sql(datos, connectar, tabla_Nombre):

    datos.to_sql(tabla_Nombre, conectar, if_exists='append', index=False)
    termino = print("Carga Finalizada")
    return termino

Carga tipo

In [26]:
tabla_nombre = "Tipo"
cargar_datos_a_sql(df_tipo, conectar, tabla_nombre)

Carga Finalizada

Carga tipo

In [38]:
tabla_nombre = "Permisos"
cargar_datos_a_sql(df_permiso, conectar, tabla_nombre)

Carga Finalizada

Carga Registro

In [28]:
tabla_nombre = "Registro"
cargar_datos_a_sql(df_registro, conectar, tabla_nombre)

Carga Finalizada

Carga calle

In [29]:
tabla_nombre = "Calle"
cargar_datos_a_sql(df_calle, conectar, tabla_nombre)

Carga Finalizada

Carga obra

In [30]:
tabla_nombre = "Obra"
cargar_datos_a_sql(df_obra, conectar, tabla_nombre)

Carga Finalizada

Carga estado

In [31]:
tabla_nombre = "Estado"
cargar_datos_a_sql(df_estado, conectar, tabla_nombre)

Carga Finalizada

Carga diseño

In [34]:
tabla_nombre = "Disenio"
cargar_datos_a_sql(df_disenio, conectar, tabla_nombre)

Carga Finalizada

Carga Propuesta

In [35]:
tabla_nombre = "Propuesta"
cargar_datos_a_sql(df_propuesta, conectar, tabla_nombre)

Carga Finalizada

Carga costo

In [36]:
tabla_nombre = "Costos"
cargar_datos_a_sql(df_Costo, conectar, tabla_nombre)

Carga Finalizada

##**EXTRACCIÓN PARA EL DATAWAREHOUSE**

---

## **Conexión a la base de datos**

Conexión a la base de datos Northwind_large

In [43]:
path = "sqlite:///DB_transaccional.db"
motorDB = sqlalchemy.create_engine(path)
conectarDB = motorDB.connect()

Función del proceso de extracción

In [44]:
def extraer_datos_sql(conectarDB,query):
    result = conectarDB.execute(query)
    df = pd.DataFrame(result.fetchall())
    df.columns = result.keys()
    return df

Extracción de datos para la dimension tipo

In [ ]:
query = '''SELECT Proposed_Construction_Type,
                Existing_Construction_Type,
                Existing_Construction_Type_Description,
                Proposed_Construction_Type_Description
            FROM Tipo;'''
df_dimTipo = extraer_datos_sql(conectarDB,query)
df_dimTipo.head()

Extracción de datos para la dimension Registro

In [ ]:
query = '''SELECT Zipcode,
            Location,
            id_Permit,
            id_Tipo
        FROM Registro;'''
df_dimregitro = extraer_datos_sql(conectarDB,query)
df_dimregitro.head()

Extracción de datos para la dimension Permisos

In [ ]:
query = '''SELECT Permit_Number,
            Permit_Type,
            Permit_Type_Definition,
            Permit_Creation_Date,
            id_street
        FROM Permisos;'''
df_dimpermiso = extraer_datos_sql(conectarDB,query)
df_dimpermiso.head()

Extracción de datos para la dimension calle

In [ ]:
query = '''SELECT Lot,
            Street_Number,
            Street_Name,
            First_Construction_Document_Date,
            Description
        FROM Calle;'''
df_dimcalle = extraer_datos_sql(conectarDB,query)
df_dimcalle.head()

Extracción de datos para la dimension obra

In [ ]:
query = '''SELECT Block,
              Neighborhoods_Analysis_Boundaries,
              Filed,
              Supervisor_District,
              Id_record,
              id_Estado
          FROM Obra;'''
df_dimobra = extraer_datos_sql(conectarDB,query)
df_dimobra.head()

Extracción de datos para la dimension estado

In [ ]:
query = '''SELECT Street_Suffix,
            Current_Status,
            Current_Status_Date,
            Issued_Date,
            Completed_Date
        FROM Estado;'''
df_dimestado= extraer_datos_sql(conectarDB,query)
df_dimestado.head()

Extracción de datos para la dimension diseño

In [ ]:
query = '''SELECT Unit,
            Number_of_Existing_Stories,
            Fire_Only_Permit,
            id_costo,
            id_Obra
        FROM Disenio;'''
df_dimdisenio= extraer_datos_sql(conectarDB,query)
df_dimdisenio.head()

In [37]:
DataSet.to_excel('datosLimpios.xlsx')